exportClasses(DataFrame)
exportMethods(addRow, 
			  addCol,
			  print,
			  getCols,
			  getRows)
export(dataFrame,
	   discretizeEW,
	   discretizeEF,
	   discretizeJNB,
	   discretizarColumnas,
	   entropy,
	   calculoAUC,
	   calculoVarianza,
	   calculoMetricas,
	   estandarizar,
	   normalizar,
	   estandarizarDF,
	   normalizarDF,
	   filtrar,
	   correlacion,
	   correlacionDF,
	   plotROC,
	   plotCorrelaciones,
	   plotBoxPlots,
	   plotBarrasDiscretizadas,
	   readDataFrame,
	   writeDataFrame)
